[Desktop Entry]
Name[af]=HandBrake
Name[bg]=HandBrake
Name[ca]=HandBrake
Name[co]=HandBrake
Name[cs]=HandBrake
Name[de]=HandBrake
Name[es]=HandBrake
Name[eu]=HandBrake
Name[fi]=HandBrake
Name[fr]=HandBrake
Name[he]=HandBrake
Name[it]=HandBrake
Name[ja]=HandBrake
Name[ka]=HandBrake
Name[ko]=HandBrake
Name[nl]=HandBrake
Name[no]=HandBrake
Name[pt_BR]=HandBrake
Name[pt]=HandBrake
Name[ro]=HandBrake
Name[ru]=HandBrake
Name[sk]=HandBrake
Name[sl_SI]=HandBrake
Name[sv]=HandBrake
Name[th]=HandBrake
Name[tr]=HandBrake
Name[zh_CN]=HandBrake
Name[zh_TW]=HandBrake
Name=HandBrake
GenericName[co]=Trascudificatore di medià
GenericName[de]=Medientranscoder
GenericName[es]=Transcodificador de medios
GenericName[nl]=Media-transcodering
GenericName[sv]=Mediaomkodare
GenericName=Media Transcoder
Comment[co]=Trascudificheghja DVD, Blu-ray è altri medià
Comment[de]=Transcodiert DVD, Blu-ray und andere Medien
Comment[es]=Transcodifica DVD, Blu-ray y otros medios
Comment[nl]=Transcodeert DVD, Blu-ray en andere media
Comment[sv]=Omkodar DVD, Blu-ray och andra media
Comment=Transcodes DVD, Blu-ray, and other media
Exec=ghb %f
Icon=fr.handbrake.ghb
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Video;
Keywords[co]=Cunvertidore di furmatu ; Cudificatore video ;
Keywords[de]=Formatconverter;Videoencoder;
Keywords[es]=Convertidor de formato; codificador de vídeo;
Keywords[nl]=Formaatconverter; Video-codering;
Keywords[sv]=Formatkonverterare;Video-kodare;
Keywords=Format Converter;Video Encoder;
MimeType=application/ogg;application/x-extension-mp4;application/x-flac;application/x-matroska;application/x-ogg;audio/ac3;audio/mp4;audio/mpeg;audio/ogg;audio/x-flac;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-mpeg;audio/x-vorbis;video/mp4;video/mp4v-es;video/mpeg;video/msvideo;video/quicktime;video/vnd.divx;video/x-avi;video/x-m4v;video/x-matroska;video/x-mpeg;video/x-ms-wmv;video/ogg;video/x-ogm+ogg;video/x-theora+ogg;x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;
