[Desktop Entry]
Name=Verify Signature
Name[ar]=تحقق من التوقيع
Name[as]=স্বাক্ষৰ সতাসত্য নিৰূপণ কৰক
Name[ast]=Verificar la robla
Name[be@latin]=Pravier podpis
Name[bg]=Проверка на подпис
Name[bn]=স্বাক্ষর পরীক্ষণ
Name[bn_IN]=স্বাক্ষর পরীক্ষণ
Name[br]=Gwiriañ ar sinadur
Name[ca]=Verifica una signatura
Name[ca@valencia]=Verifica una signatura
Name[cs]=Ověřit podpis
Name[da]=Verificér signatur
Name[de]=Signatur-Datei überprüfen
Name[dz]=མིང་རྟགས་འདི་བདེན་སྦྱོར་འབད་
Name[el]=Διαπίστωση υπογραφής
Name[en@shaw]=𐑝𐑧𐑮𐑦𐑓𐑲 𐑕𐑦𐑜𐑯𐑩𐑗𐑼
Name[en_CA]=Verify Signature
Name[en_GB]=Verify Signature
Name[es]=Verificar la firma
Name[et]=Allkirja verifitseerimine
Name[eu]=Egiaztatu sinadura
Name[fi]=Varmista allekirjoitus
Name[fr]=Vérifier la signature
Name[gl]=Verificar sinatura
Name[gu]=સહીની ખાતરી કરો
Name[he]=אימות החתימה
Name[hi]=हस्ताक्षर जांचें
Name[hu]=Aláírás ellenőrzése
Name[id]=Periksa Tanda Tangan
Name[it]=Verifica la firma
Name[ja]=シグネチャの検証
Name[kn]=ಸಹಿಯನ್ನು ಪರಿಶೀಲಿಸು
Name[ko]=서명 확인
Name[lt]=Patikrinti parašą 
Name[lv]=Pārbaudīt parakstu
Name[mk]=Провери го потписот
Name[ml]=ഒപ്പ് ഉറപ്പാക്കുക
Name[mr]=स्वाक्षरी तपासा
Name[nb]=Verifiser signatur
Name[ne]=हस्ताक्षर रुजु गर्नुहोस्
Name[nl]=Ondertekening verifiëren
Name[nn]=Bekreft signatur
Name[or]=ହସ୍ତାକ୍ଷର ଯାଞ୍ଚ କରନ୍ତୁ
Name[pa]=ਦਸਤਖਤ ਜਾਂਚ
Name[pl]=Weryfikacja podpisu
Name[pt]=Verificar Assinatura
Name[pt_BR]=Verificar assinatura
Name[ro]=Verifică semnătură
Name[ru]=Проверить подпись
Name[sk]=Overiť podpis
Name[sl]=Overitev podpisa
Name[sr]=Провери потпис
Name[sr@latin]=Proveri potpis
Name[sv]=Validera signatur
Name[ta]=கையொப்பத்தை சரி பார்க்கவும்
Name[te]=సంతకాన్ని ధృవీకరించు
Name[th]=ตรวจสอบยืนยันลายเซ็น
Name[tr]=İmzayı Doğrula
Name[ug]=ئىمزانى دەلىللە
Name[uk]=Перевірити підпис
Name[zh_CN]=校验签名
Name[zh_HK]=驗證簽署
Name[zh_TW]=驗證簽章
MimeType=application/pgp-signature;
Exec=mate-seahorse-tool --verify %U
Type=Application
Terminal=false
NoDisplay=true
