[Desktop Entry]
Name[ca]=Muntador d'imatges de disc de MATE
Name[cs]=Připojování obrazů disků pro MATE
Name[da]=MATE - diskaftryksmontering
Name[en_GB]=MATE Disk Image Mounter
Name[es]=Montador de imágenes de disco de MATE
Name[eu]=MATE disko-irudien muntatzailea
Name[fr]=Monteur d’images disque de MATE
Name[gl]=Montador de imaxes de disco do MATE
Name[id]=Pengait Image Diska MATE
Name[it]=Montaggio di immagini disco di MATE
Name[ja]=MATE ディスクイメージ・マウンタ
Name[lt]=MATE diskų atvaizdžių prijungiklis
Name[ms]=Pelekap Imej Cakera MATE
Name[nb]=MATE Montering av diskavtrykk
Name[nl]=MATE Schijfkopie-aankoppelaar
Name[oc]=Montador d’imatge disc MATE
Name[pl]=Narzędzie do montowania dysków MATE
Name[pt]=Montador de Imagens de Disco do MATE
Name[pt_BR]=Analisador de Uso do Disco MATE
Name[ru]=Монтирование образов дисков MATE
Name[sl]=Priklopnik slik diska MATE
Name[sr]=Мејтов Прикључивач одраза диска
Name[tr]=MATE Disk İmajı Bağlayıcısı
Name[uk]=Монтування образів диска MATE
Name[zh_CN]=MATE 磁盘挂载器
Name[zh_TW]=MATE 磁碟映像檔掛載程式
Name=MATE Disk Image Mounter
Comment[ca]=Adjunteu i munteu un o més fitxers d'imatge de disc
Comment[cs]=Připojit jeden nebo více souborů s obrazem disku
Comment[da]=Tilslut og monter en eller flere diske aftryksfiler
Comment[en_GB]=Attach and mount one or more disk image files
Comment[es]=Conecte y monte uno o más archivos de imagen de disco
Comment[eu]=Erantsi eta muntatu disko-irudi fitxategi bat edo gehiago
Comment[fr]=Attache et monte un ou plusieurs fichiers image disque.
Comment[gl]=Axunta e monta un ou varios ficheiros de imaxe de disco
Comment[id]=Mencantol dan mengait satu atau lebih berkas image diska
Comment[it]=Collega e monta una o più immagini disco
Comment[ja]=1 つまたは複数のディスクイメージファイルを添付してマウント
Comment[lt]=Prijungia vieną ar daugiau diskų atvaizdžių failų
Comment[ms]=Masuk dan lekapkan satu atau lebih fail imej cakera
Comment[nb]=Monter ett eller flere diskavtrykksfiler
Comment[nl]=Koppel één of meer schijfkopiebestanden aan
Comment[pl]=Załącz i zamontuj jeden lub więcej plików obrazu dysku
Comment[pt]=Juntar e montar um ou mais ficheiros de imagem de disco
Comment[pt_BR]=Anexe e monte um ou mais arquivos de imagem de disco.
Comment[ru]=Присоединить и смонтировать один или несколько файлов образов дисков
Comment[sl]=Pripnite in priklopite eno ali več slik diskov
Comment[sr]=Додајте и прикачите једну или више датотека одраза диска
Comment[tr]=Bir ya da daha fazla disk imajını ekler ve bağlar
Comment[uk]=Під'єднати та змонтувати один, або декілька файлів образів диска
Comment[zh_CN]=添加并挂载磁盘
Comment[zh_TW]=附加並掛載一個或更多磁碟映像檔
Comment=Attach and mount one or more disk image files
TryExec=mate-disk-image-mounter
Exec=mate-disk-image-mounter %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=drive-removable-media
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=false
Type=Application
Categories=GTK;System;
OnlyShowIn=MATE;
