[Desktop Entry]
Name=Pidgin
GenericName=Internet Messenger
X-GNOME-FullName=Pidgin Internet Messenger
X-GNOME-FullName[af]=Pidgin Internetboodskapper
X-GNOME-FullName[ar]=مرسال الإنترنت بِدْجِن
X-GNOME-FullName[as]=Pidgin ইন্টাৰনেট মেসেঞ্জাৰ
X-GNOME-FullName[ast]=Mensaxeru d'internet Pidgin
X-GNOME-FullName[be@latin]=Internet-kamunikatar Pidgin
X-GNOME-FullName[bn]=পিজিন ইন্টারনেট বার্তাবাহক
X-GNOME-FullName[bn_IN]=Pidgin ইন্টারনেট মেসেঞ্জার
X-GNOME-FullName[br]=Postelerezh Kenrouedad Pidgin
X-GNOME-FullName[brx]=पिडजिन इन्टारनेट मेसेनजार
X-GNOME-FullName[ca]=Missatger d'Internet Pidgin
X-GNOME-FullName[ca@valencia]=Missatger d'Internet Pidgin
X-GNOME-FullName[cs]=Pidgin Internet Messenger
X-GNOME-FullName[da]=Pidgin - Internetbeskeder
X-GNOME-FullName[de]=Pidgin Internet-Sofortnachrichtendienst
X-GNOME-FullName[el]=Αποστολέας μηνυμάτων διαδικτύου Pidgin
X-GNOME-FullName[en_AU]=Pidgin Internet Messenger
X-GNOME-FullName[en_GB]=Pidgin Internet Messenger
X-GNOME-FullName[eo]=Piĝin Interreta Mesaĝilo
X-GNOME-FullName[es]=Cliente de mensajería de Internet Pidgin
X-GNOME-FullName[es_AR]=Mensajero de Internet Pidgin
X-GNOME-FullName[et]=Pidgin, Interneti sõnumivahetus
X-GNOME-FullName[eu]=Pidgin Internet-Mezularia
X-GNOME-FullName[fa]=پیغام‌رسان اینترنتی پیجین
X-GNOME-FullName[fi]=Pidgin-pikaviestin
X-GNOME-FullName[fr]=Messagerie internet Pidgin
X-GNOME-FullName[ga]=Teachtaire Idirlín Pidgin
X-GNOME-FullName[gl]=Mensaxería na Internet de Pidgin
X-GNOME-FullName[gu]=Pidgin Internet Messenger
X-GNOME-FullName[he]=פידג׳ין למסרים באינטרנט
X-GNOME-FullName[hi]=पिडगिन इंटरनेट मैसेंजर
X-GNOME-FullName[hu]=Pidgin üzenetküldő
X-GNOME-FullName[id]=Pesan Internet Pidgin
X-GNOME-FullName[it]=Pidgin Internet Messenger
X-GNOME-FullName[ja]=Pidgin インターネット・メッセンジャー
X-GNOME-FullName[km]=កម្មវិធី​ផ្ញើសារ​អ៊ីនធឺណិត​របស់ Pidgin
X-GNOME-FullName[kn]=ಪಿಜಿನ್ ಇಂಟರ್ನೆಟ್ ಮೆಸೆಂಜರ್
X-GNOME-FullName[ko]=Pidgin 인터넷 메신저
X-GNOME-FullName[lt]=Pidgin pokalbiai internete
X-GNOME-FullName[lv]=Pidgin Interneta ziņnesis
X-GNOME-FullName[mai]=पिजिन इंटरनेट मेसेंजर
X-GNOME-FullName[mhr]=Pidgin писе каласымаш алмаш клиент
X-GNOME-FullName[mk]=Pidgin инстант пораки
X-GNOME-FullName[ml]=പിഡ്ഗിന്‍ ഇന്റര്‍നെറ്റ് മെസഞ്ചര്‍
X-GNOME-FullName[mn]=Пизин Интернет Мессенжер
X-GNOME-FullName[mr]=Pidgin इंटरनेट संदेशवाहक
X-GNOME-FullName[ms_MY]=Pemesej Internet Pidgin
X-GNOME-FullName[my_MM]=ပင်ဂျင်း အင်တာနက် မစ်ဆင်းဂျာ
X-GNOME-FullName[nb]=Pidgin lynmeldingsklient
X-GNOME-FullName[nl]=Pidgin Internet Messenger
X-GNOME-FullName[nn]=Pidgin Internett meldingsklient
X-GNOME-FullName[oc]=Messatjariá Internet Pidgin
X-GNOME-FullName[or]=ପିଜିନ୍ ଇଣ୍ଟରନେଟ ସଂଦେଶବାହକ
X-GNOME-FullName[pa]=ਪਿਡਗਿਨ ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
X-GNOME-FullName[pl]=Pidgin
X-GNOME-FullName[pt]=Mensageiro de Internet Pidgin
X-GNOME-FullName[pt_BR]=Mensageiro da Internet Pidgin
X-GNOME-FullName[ro]=Mesagerul Pidgin
X-GNOME-FullName[ru]=Клиент обмена мгновенными сообщениями Pidgin
X-GNOME-FullName[sk]=Internetový komunikátor Pidgin
X-GNOME-FullName[sl]=Spletni sel Pidgin
X-GNOME-FullName[sq]=Pidgin Internet Messenger
X-GNOME-FullName[sr]=Пиџин Интернет писмоноша
X-GNOME-FullName[sr@latin]=Pidžin Internet pismonoša
X-GNOME-FullName[sv]=Pidgin meddelandeklient
X-GNOME-FullName[ta]=Pidgin இணையத்தள மேலாளர்
X-GNOME-FullName[te]=పిడ్జిన్ ఇంటర్నెట్ మెసెంజర్
X-GNOME-FullName[tr]=Pidgin İnternet Mesajlaşma Aracı
X-GNOME-FullName[uk]=Клієнт обміну миттєвими повідомленнями Pidgin
X-GNOME-FullName[vi]=Tin Nhắn Pidgin
X-GNOME-FullName[zh_CN]=Pidgin 互联网通讯程序
X-GNOME-FullName[zh_HK]=Pidgin 網絡即時通
X-GNOME-FullName[zh_TW]=Pidgin 網路即時通
Comment=Chat over IM.  Supports XMPP, IRC, and more
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=chat;talk;im;message;bonjour;gadu-gadu;irc;groupwise;jabber;sametime;silc;simple;xmpp;zephyr
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;InstantMessaging;
X-MessagingMenu-UsesChatSection=true
X-Ubuntu-Gettext-Domain=pidgin
